.list {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    gap: 32px;
    outline: 1px solid red;
}

.item {
    display: grid;
    gap: 12px;
    padding: 10px;
    /* year до 1946 */
    background-color: #ffdb92;
    /* backgroundColor: '#d2fdbd'; // year  1946 - 1999
           backgroundColor: '#d6f1ff'; // year від 2000 */
    /* backgroundColor: getBgColor(item.info.year); */
    outline: 1px solid grey;
}

/** backgroundColor: '#d2fdbd', // "year"  1946 - 1999 - last */
.itemLast{
    composes: item;
    background-color: #d2fdbd;
}

/** backgroundColor: '#d6f1ff', // "year" від 2000 - current */

/* todo: var.2  та var.2.1 */
.itemCurrent {
    composes: item;
    background-color: #d6f1ff;
}
